<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header pull-right ">
      <div class="white">current budget: </div>
      <div class="white">status: </div>
    </div>
  </div>
</nav>