<nav class="navbar navbar-inverse">
  <div class="container-fluid">

  	<a class="navbar-brand" href="#">Expomatic</a>
  	
  	<div class="progress pull-right">
	  <div class="progress-bar progress-bar-success" style="width: 75%">
	    <span class="sr-only">35% Complete (success)</span>
	  </div>
	</div>     
	<div class="navbar-header pull-right">
		<span class="l label label-default">Total Income: </span>
		<span class="label label-default">Rs. 12</span>
		<br>
		<span class="l label label-default">Expense: </span>
		<span class="label label-default">Rs. 10</span>
    </div>
  </div>
</nav>