<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

select amount 
<button id='add-money-button' class="btn btn-default" data-toggle="modal" data-target="#add-money-form"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<%= render :partial=>'add_amount_form'%>
<br>

select category <button id='add-category' class="btn btn-default" data-toggle="modal" data-target="#add-sub-category-form"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
<%= render :partial=>'add_sub_category_form'%>
<br>
graph 
</body>
</html>