<div class="report-filter container-fluid">
  <div class="form-group col-xs-6">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>Grocery</label>
  </div>
  <div class="form-group col-xs-4">
    <input type="radio" name="optradio">
    <label>Savings</label>
  </div>
  <div class="form-group col-xs-2">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>DP</label>
  </div>
  <div class="form-group col-xs-6">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>Offerings</label>
  </div>
  <div class="form-group col-xs-4">
    <input type="radio" name="optradio">
    <label>Expenses</label>
  </div>
  <div class="form-group col-xs-6">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>Restaurants</label>
  </div>
  <div class="form-group col-xs-8">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>Charities</label>
  </div>
  <div class="form-group col-xs-6">
    <input id="nome" name="Nome" type="checkbox" value="Nome" checked/>
    <label>Rent</label>
  </div>
</div>