.btn-default{
	margin-bottom: 5px;
}
#add-money-button{
	font-weight: bold !important;
}
.btn{
	outline:none !important;
}
#add-money-button span, #add-category span{
	font-weight: bold !important;
}
#main-submit-expense {
	width: 503px !important;
  	margin-top: 50px !important;
  	margin-bottom: 50px !important;	
}