.charttitle{
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;  
}
.breadcrumb{
	margin-bottom: 0px !important;
}
.margintop{
	margin-top: 30px;
}
.marginbottom{
	margin-bottom: 100px;
}
.decoration{
	border-top: 1px solid #cccccc;
}
#chart{		
	background-color: #f5f5f5;
}
.good{
	color: green !important;
}
.danger{
	color: red !important;	
}
table{
	font-size: 15px !important;
}
.push-expense-down{
	padding-top: 50px;
	height: 350px;
}
.white{
	  color: white !important;	  
	  background-color: black;
	  font-weight: bold;
	  padding-top: 0px;
	  padding-bottom: 3px;
	  padding-left: 5px;
	  padding-right: 5px;
	  border-radius: 2px;
	  border: 1px solid black;
}
td{
	span{
		font-weight: normal !important;
	}	
}
.nav.navbar-nav{
	margin-top: 9px;
	margin-left: 17px;	
}
  
.navbar-header{
	width: 200px;
	margin-top: 15px;
	display: table;

	.l{
		background: none !important;
		display: table-row;
	}
	.navbar-text{
		margin: 5px !important;
	}
	.label{		
		font-color: white !important;
	}
}
.navbar{
	border-radius: 0 !important;
}
.progress{
	position: relative;
	top: 50px;
	right: -16px;
	width: 100px;
	border-color: black !important;	
}
.navbar-brand{
	font-family: fantasy;
	font-size: 35px;
	font-weight: bold;
	margin-top: 10px;	
	margin-left: 30px !important;
}
.form-group{
	margin-top: 15px;
}
.btn .badge{
  font-weight: 500;
  font-size: 8px;
  padding: 4px;
  position: relative;
  right: -10px;
  top: -8px;
}
.unselect{
	display: none;
}
.expense-header{
	margin-bottom: 10px ;
}
.title h3{
	display: inline;	
}
.subtitle{
	display: inline;
}
.btn-default{
	margin-bottom: 5px;
}
#add-money-button{
	font-weight: bold !important;	
}
.btn{
	outline:none !important;
}
#add-money-button span, #add-category span{
	font-weight: bold !important;
}
#main-expense-submit-button {
	width: 503px !important;
  	margin-top: 15px !important;
  	margin-bottom: 15px !important;	
}
#reset-money,#reset-category{
	background-color: #adadad;
	border-color: #adadad;
}

table{
	td{
		padding-left: 5px;
		cursor: pointer;
	}
}