.unselect{
	display: none;
}
.expense-header{
	margin-bottom: 10px ;
}
.title h3{
	display: inline;	
}
.subtitle{
	display: inline;
}
.btn-default{
	margin-bottom: 5px;
}
#add-money-button{
	font-weight: bold !important;
}
.btn{
	outline:none !important;
}
#add-money-button span, #add-category span{
	font-weight: bold !important;
}
#main-expense-submit-button {
	width: 503px !important;
  	margin-top: 50px !important;
  	margin-bottom: 50px !important;	
}
#reset-money,#reset-category{
	background-color: #adadad;
	border-color: #adadad;
}
